//
// Custom overrides from a user.
//
// Veeam overwriting classes

// from base.scss
a:not([class]) {
    text-decoration: none;
    background-image: none;
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 1px 1px;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .side-bar a {
    color: $nav-child-link-color;  
  
    &:hover {
      text-decoration: underline;
      background: none;
    }
  }
  
  .navigation-list-link.active {
    color: #ffffff !important;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  // from button.scss
  .btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 12px 30px 10px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    border: 0 none;
    outline: 0;
    background-color: $base-button-color;
    border-radius: 99999px;
    transition: background .15s ease-in-out;
  
    &:hover {
      background: #00c73c;
      text-decoration: none
    }
  
    &:active {
      background: #009E30
    }
  }
  
  // Additional Veeam classes
  
  // originally in base.scss
  img.veeam_logo_lp,
  img.veeam_logo_slogan_lp {
  position: absolute;
    top: 15px;
    right: 50px;
    z-index: 101;
    width: 188.23px;
    height: 33px
  }
  
  @media screen and (max-width: $content-width - 1) {
  img.veeam_logo_lp,
  img.veeam_logo_slogan_lp {
    position: static;
    margin: 0 6px;
  }
  }
  
  @media screen and (max-width: 480px) {
  img.veeam_logo_lp,
  img.veeam_logo_slogan_lp {
    position: static;
      width: 142.59px;
      height: 25px
  }
  }
  
  // originally in button.scss
  /*********************** hamburger - s ***************************/
  .c-hamburger {
    background-color: transparent;
    /*float: right;*/
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    margin-top: -5px;
    padding: 0;
    width: 35px;
    height: 30px;
  
    width: 24px;
  
  
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
  
    display: none;
  }
  
  .c-hamburger:focus {
    outline: none;
  }
  
  .c-hamburger span,
  .c-hamburger span::before,
  .c-hamburger span::after {
    background: #93EA20;
    ;
  }
  
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 13px;
    left: 0px;
    right: 0;
    height: 4px;
  }
  
  .c-hamburger span::before {
    transition-property: top, transform;
    top: -8px;
  }
  
  .c-hamburger span::before,
  .c-hamburger span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    content: "";
  }
  
  .c-hamburger span::after {
    transition-property: bottom, transform;
    bottom: -8px;
  }
  
  .c-hamburger.c-hamburger-x span::after,
  .c-hamburger.c-hamburger-x span::before {
    transition-delay: 0s, 0.3s;
  }
  
  .c-hamburger.c-hamburger-x span {
    background: none;
  }
  
  .c-hamburger.c-hamburger-x span::before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .c-hamburger.c-hamburger-x span::after {
    transform: rotate(45deg);
    bottom: 0;
  }
  
  @media screen and (max-width: $content-width - 1) {
    .c-hamburger {
      display: block;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .c-hamburger {
      display: block;
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
  
/*********************** hamburger - e ***************************/

// Updates for 0.2.7 - Stefan Zimmermann 09.04.2020

// Remove bottom border from navigation
.site-header {
  @include mq(md) {      
    border-bottom: none;
  }
}

// Updates for automated numbering in the navigation
// Stefan Zimmermann, 15.04.2020
.navigation-list {
  counter-reset: section;
}

.navigation-list-child-list {
  counter-reset: section;
}

li.numbered-list-item::before {
  counter-increment: section;

  content: counters(section,".") " ";

}

.nav-list-lvl-1 {  
  counter-reset: counter-nav-lvl-1;
}

li.nav-list-item-numbered-1 {  
  counter-increment: counter-nav-lvl-1;
}

li.nav-list-item-numbered-1::before {
  content: counter(counter-nav-lvl-1) ". ";
}
